# Python Virtual Environment
venv/
env/
ENV/
env.bak/
venv.bak/

# Çöp ve Ön Bellek Dosyaları
__pycache__/
*.py[cod]
*$py.class

# PyInstaller Derleme Klasörleri (Sadece exe atılacaksa kod deposunda yer kaplamasın)
build/
dist/
*.spec

# Geliştirici ve IDE Dosyaları
.idea/
.vscode/
*.swp
*.sqlite3

# Log ve Raporlar (Her taramada oluşan HTML'ler Github'ı kirletmesin)
*.log
Tunel_Raporu_*.html
